* { /* убираем отступы ("сброс стилей браузера") */
    margin: 0;
    padding: 0;
}
html {
    font-size: 1em; /* 1rem = font-size px нужен для удобного управления всеми размерами шрифтов*/
    font-family: "Roboto Condensed", sans-serif; /* подключение шрифта*/
}

body {
    background-color: white;
}

header {
    background-color: rgb(223, 18, 18);
    color: white;
    text-align: center;
    padding: 20px 40px; /* отступы */
}

footer {
    background-color: rgb(65, 65, 65);
    color: white; /* цвет текста */
    padding: 20px 40px; /* отступы */
}

#about {
    background-color: white;
    padding: 20px 40px;
    text-align: center;
    line-height:normal;
    color: black;
}

#articles {
    background-color: rgb(223, 18, 18);
    padding: 20px 40px;
    color: white;
}

#content {
    padding: 20px 40px;
    text-align: center;
    line-height:normal;
    color: black;
}

time {
    text-align:left ;
}

#about h2, #content h2{
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.8rem; /*1em = 16px (по умолчанию) относительно настроек браузера*/
    text-transform:uppercase;
}

h3 {
    text-align: left;
    font-size: 1.5rem; /*1em = 16px (по умолчанию) относительно настроек браузера*/
}

h4 {
    text-align: left;
    font-size: 1.5rem;/*1em = 16px (по умолчанию) относительно настроек браузера*/
}

h5 {
    text-align: left;
    font-size: 1.5rem; /*1em = 16px (по умолчанию) относительно настроек браузера*/
}

h6 {
    text-align: left;
    font-size: 1.5rem; /*1em = 16px (по умолчанию) относительно настроек браузера*/
}

p {
    text-align: justify; /* растянуть текст */
    margin-top: 0.5rem; /* отступы между параграфами*/
    font-size: 1.2rem;  /*размер шрифта */
    line-height: 1.4rem;  /*межстрочныый интервал*/
}

dl {
    font-size: 1.2rem;  /*размер шрифта */
}

blockquote {
    font-size: 1rem;
    font-family: "Press Start 2P", system-ui;
}

ul {
    font-size: 1.2rem;
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
}

ol {
    font-size: 1.2rem;
    text-align: left;
}

dl {
    text-align: left;
}

#about img {
    border-style:ridge;
    border-color: red;

}
time {
    display: block;
    text-align: left;
}
#content img {
    border-style:ridge;
    border-color: red;
}

nav ul { /*для ul кторый лежит внутри nav*/
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

a:hover {
    color:rgb(51, 221, 9);
}

a:focus {
    color:rgb(0, 194, 253);
} 

link .href:hover {
    color:rgb(51, 221, 9);
}

link .href:focus {
    color:rgb(0, 194, 253);
}

ol li:nth-child(odd) {
    background-color: rgb(165, 16, 16);
}

#terms::after {
    content: " Важно!";
    color:mediumslateblue;
    border-width: 2px;
    border-style:dotted;
    border-color:blue;
}

li:lang(eng) {
    color: green;
    font-style:oblique;
}

blockquote i {
    background-color: red;
}

footer p img {
    border-width: 2px;
    border-style:dotted;
    border-color:blue;
}

a+p {
    padding: 10px;
}
img+p {
    padding: 10px;
}

#content p::first-line,
#about p::first-line,
#content li::first-line {
    background-color:blueviolet;

}
/* img+ul{
    padding: 10px;
}
img+ol{
    padding: 10px;
} */

/* 
body    1
.pink   10
#logo   100
#mainnav ul     101
#mainnav .active    110
#mainnav a:hover    111
#mainnav ul li.active   112
*/ 



/*убрать потом*/

/*body {
    border: 10px solid red;
    font-style: italic;
}*/

/*изменение цветов ссылки*/
/*a:link { 
    color:black;
}
a:visited {
    color: chartreuse;
}
a:active {
    color: antiquewhite;
}
a:hover {
    color: aqua;
}
a:focus {
    color: goldenrod;
}

ol li:nth-child(odd) {
    background-color: blue;
}


ol.links li {
    background-color: cadetblue;
}


.h2-new::before {
    content: "new";
    font-size: 12px;
    color: blue;
    margin-left: 15px;
}*/

.my-table {
    border: solid 10px red;
    border-collapse: collapse;
}
.my-table td,
.my-table th {
    border-bottom: solid 1px black;
    padding: 10px 15px;
}


.my-table tr:nth-child(odd) {
    color: red;
}
.my-table td:nth-child(even),
.my-table th:nth-child(even) {
    background-color: green;
}

.my-table tr:last-child td:nth-child(2) {
    text-align: center;
}


/* форма */
#register {
    width: 300px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 60px;
    background-color: lightgray;
}
/* применяем стиль толко к логину */
#register input[type=text],
#register input[type=password],
#register textarea,
#register select {
    background-color: beige;
    padding: 7px;
    border-radius: 5px;
    color: dimgray;
    margin-bottom: 10px;
    border: 1px solid dimgray;
}

#register input[type=submit],
#register input[type=reset] {
    background-color: dimgray;
    border-radius: 15px;
    padding: 7px;
    color: white;
    border: none;
}

#register input[type=submit]:hover,
#register input[type=reset]:hover {
    background: black;
}

#register input[type=radio] {
    accent-color: dimgray;
}






/* regi-table */
.regi-table {
    border: solid 3px red;
    border-collapse: collapse;
}

.regi-table td,
.regi-table th {
    border-bottom: solid 1px red;
    padding: 10px 15px;
}

.regi-table tr:nth-child(odd) {
    color: blue;
}

.regi-table td:nth-child(1),
.regi-table th:nth-child(1) {
    background-color: lightcoral;
}

.regi-table tbody tr:last-child {
    background-color: lightblue;
}

#contact-form {
    width: 300px;
    margin: 10px auto;
    padding: 60px;
    background-color: rgb(9, 177, 233);
    color: aliceblue;
}

#contact-form input[type="text"],
#contact-form input[type="email"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: blue 1px;
    background-color: lightcoral;
}

#phone_number,
#birth_date {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: blue 1px;
    background-color: lightcoral;
}

#message_text{
    border: blue 1px;
    background-color: lightcoral;
    width: 250px;
    padding: 5px;
}

#topic {
    height: 30px;
    width: 260px;
    padding: 5px;
    margin-bottom: 10px;
    border: blue 1px;
    background-color: lightcoral;
}

#contact-form input[type="submit"] {
    background-color: rgb(80, 63, 233);
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
}

#contact-form input[type="submit"]:hover {
    background-color: red;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
    
}


/* https://htmlacademy.ru/blog/boost/frontend/short-18 */